body {
    background-image: url(images/dark_geometric.png);
}

h1 {
    text-align: center;
}

.index_subHeader {
    text-align: center;
    margin: 20px;
}

a {
    text-decoration: none;
}

#navbarSupportedContent {
    position: absolute;
    left: 43%;
}

.card-header {
    background-color:#777;
    color: white;
}


#main_box {
    background-color: white;
    width: 960px;
    height: 1160px;
    padding: 25px;
    margin: auto;
    color: #777777;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    line-height: 30px;
    overflow: auto;
}
.species_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.obligationHeader {
    text-align: center;
}


.dutyHeader {
    text-align: center;
}

.moralityHeader {
    text-align: center;
}

.emotionalSW {
    margin: 10px;
    text-align: center;
}

.emotionalStrength {
    background-color: #bae1ff;
}

.emotionalWeakness {
    background-color: #ffb3ba;
}

@font-face {
    font-family: aurebesh;
    src: url(fonts/aurebesh.ttf);
}

.aurebesh_under {
    font-family: aurebesh;
    text-align: center;
}

.weaponBody {
    padding: 30px;
}

.adversaryBody {
    padding: 30px;
}

.adversaries_mainStats {
    color: red;
}

