body {
    background-image: url(../images/dark_geometric.png);
}

h1 {
    text-align: center;
}

.index_subHeader {
    text-align: center;
    margin: 20px;
}

a {
    text-decoration: none;
}

#navbarSupportedContent {
    position: absolute;
    left: 43%;
}

.card-header {
    background-color:#777;
    color: white;
}

#main_box {
    background-color: white;
    width: 960px;
    padding: 25px;
    margin: 50px auto auto auto;
    color: #777777;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    line-height: 30px;
    overflow: auto;
}

.weaponBody {
    padding: 30px;
}

@font-face {
    font-family: geosanslight;
    src: url(../fonts/GeosansLight.ttf);
}

.breadcrumb-item {
    font-family: geosanslight;
    font-weight: bold;
}

.breadcrumb a {
    color: #0077be;
}

.breadcrumb a:hover {
    color: #004166;
}

.breadcrumb>.active {
    color: black;
}

.breadcrumb-whole {
    margin: auto 10px auto auto;
}

